@import '~antd/dist/antd.less'; // 引入官方提供的 less 样式入口文件
@import './theme-file.less';
// @import './index.js'; // 用于覆盖上面定义的变量


*{
    margin:0;
    padding: 0;
  }
  
  html{
    font-size: 12px;
  }
  body{
    font: 12px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #555;
  }
  ul,li{
    list-style: none;
  }
  

  // .ant-layout{
    // background: #fff;
  // }
  .m-pc-head{
    display: flex;
    flex:1
  }
// ----------导航动画开始------
// .animate-wrap{
//     display: none; // 默认不显示
//     &.active{
//         display: block; // active状态显示
//     }
// }
// 进入动画
.down-in{
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
    // animation: downIn 0.3s both;
}
// 离开动画
.down-out{
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
    // animation: downOut 0.3s both;
}
@keyframes downIn{
    from{
        transform: translate(0, 100%);
        opacity: 0;
    }
    to{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes downOut{
    from{
        transform: translate(0, 0);
        opacity: 1;
    }
    to{
        transform: translate(0, 100%);
        opacity: 0;
    }
}
// 导航动画结束
  @media screen and (min-width: 900px) {
    /* 大屏幕 */
    .m-pc-head{
      display: flex;
      min-width: 700px;
    }
    .trigger,.m-sider{
       display: none
    }
    .main-content{
      margin:6rem 13rem 2rem;
      // min-width: 1000px;
    }
  }
  @media screen and (max-width: 900px) {
    /* 小屏幕 */
    #live2d-widget{
      display: none
    }
    .m-pc-head{
      display: none
    }
    .trigger{
      display: inline-block;
    }
    .m-sider{
       display: block
    }
    .ant-layout-header{
        background: #57c86c !important;
        padding: 0 2rem;
    }
    .main-content{
      margin-top: 6rem;
    }
   
  }